#content {
  display: flex;
  flex-wrap: wrap;
}

#side-bar {
  @extend .sticky-child;
  flex: 0 0 min-content;
  background-color: $light-gold;
  color: white;
  padding: 1rem;
  font-size: 25px;

  h1 {
    font-size: min(10vw, 2em);
    margin: 1em 0;
  }

  ul li {
    margin-bottom: 2em;
    cursor: pointer;
  }
}

main.page {
  flex: 500px;

  .banner,
  .flow-break {
    @extend .center-content;
    @extend .parallax;

    height: 70vh;
    background-attachment: fixed; // parallax effect
    color: white;
    font-size: 4rem;
  }

  // general rules
  article {
    padding: 2rem;
    padding-right: 0;

    display: grid;
    grid-template-columns: repeat(10, 1fr);

    h3 {
      font-size: 40px;
    }

    @media screen and (max-width: 750px) {}
  }

  footer {
    @extend .center-content;
    height: 6rem;
    background-color: $gray-blue;
  }
}