#content {
  display: flex;
  flex-wrap: wrap;
}

#side-bar {
  @extend .sticky-child;
  flex: 0 0 min-content;
  background-color: $light-gold;
  color: white;
  padding: 1rem;
  font-size: 25px;

  h1 {
    font-size: $h1-size;
    margin: 1em 0;
  }

  ul li {
    margin-bottom: 2em;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }
}

main.page {
  flex: 500px;

  .banner,
  .flow-break {
    @extend .center-content;
    @extend .parallax;

    height: 70vh;
    color: white;
    font-size: 4rem;
  }

  article {
    padding: 2rem;
    padding-right: 0;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  footer {
    @extend .center-content;
    height: 6rem;
    background-color: $gray-blue;
  }
}