@media screen and (max-width: 750px) {

  // make side-bar go across
  #side-bar {
    width: 100vw;
    flex-grow: 1;
    position: sticky;
    top: 0;

    >div {
      align-self: stretch;
      display: flex;
      justify-content: space-between;
    }

    h1 {
      margin: 0;
      text-align: center;
    }

    #menu-toggle {
      display: block;
      font-size: $h1-size;
    }

    ul {
      display: none;
    }

    ul.made-visible {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      top: calc($h1-size + 35px);
      right: -15px;
      padding-top: 20px;
      padding-right: 20px;

      li {
        margin-bottom: 20px;
      }

      @supports (backdrop-filter: blur(0)) {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
      }
    }
  }

  // wrap text and images
  main.page article {
    display: flex;
    flex-wrap: wrap;

    .text,
    .img-container {
      margin-right: 2rem !important;
    }

    .text {
      flex: 400px;
    }

    .img-container {
      flex: 400px;
      height: 400px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}