@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";
@import "partials/general";
@import "partials/mobile";

// page-specific layouts
#about-page {
  .banner {
    @include center-bg("./imgsA/banner-background.jpg");
  }

  article#story {
    @include layout(0, "1 / 7", 2rem, "7 / 11", "./imgsA/frying-pan.jpg", false, white);
  }

  article#flavors {
    @include layout(2rem, "6 / 11", 2rem, "1 / 6", "./imgsA/spices.jpg", true, $light-green);
  }

  article#CTA {
    @include layout(0, "1 / 5", 1rem, "5 / 11", "./imgsA/dinner-table.jpg", false, $light-orange);
  }
}

#menu-page {
  .banner {
    @include center-bg("./imgsB/wine-and-food.jpg")
  }

  article#appetizers {
    @include layout(2rem, "5 / 11", 2rem, "1 / 5", "./imgsB/stacked-cookies.jpg", true, $light-gray-blue)
  }

  article#soups {
    @include layout(0, "1 / 5", 2rem, "5 / 11", "./imgsB/soup.jpg", false, $bluish-white)
  }

  article#salads {
    @include layout(2rem, "5 / 11", 2rem, "1 / 5", "./imgsB/salads.jpg", true, white);
  }

  .flow-break#main-courses {
    @include center-bg("./imgsB/steak-fire.jpg")
  }

  article#meats {
    @include layout(0, "1 / 6", 2rem, "6 / 11", "./imgsB/raw-meat.jpg", false, $blue-black);
    color: white;
  }

  article#pizzas {
    @include layout(2rem, "1 / 6", 2rem, "6 / 11 ", "./imgsB/pizza.jpg", false, black);
    color: white;
  }

  article#burgers {
    @include layout(2rem, "5 / 11", 0, "1 / 5", "./imgsB/burger.jpg", true, black);
    color: white;
  }

  .flow-break#dessert {
    @include center-bg("./imgsB/cupcake.jpg")
  }

  article#desert-content {
    @include layout(2rem, "5 / 11", 2rem, "1 / 5", "./imgsB/light-donut.jpg", true, $cool-blue-white);
  }
}

#location-page {
  .banner {
    @include center-bg("./imgsC/bakery.jpg");
  }

  article#find-us {
    @include layout(2rem, "6 / 11", -2rem, "1 / 6", "./imgsC/view-out-of-window.jpg", true, white);

    p:last-child {
      margin-bottom: 0;

      iframe {
        width: 90%;
        height: 450px;
      }
    }

  }
}